In [ ]:
if( x > 3){
    y <- 10
}
else {
    y<- 0
}

In [ ]:
y <- if( x > 3){
    10
}
else {
      0
}

In [ ]:
for( i in 1:10){
    print(i)
}

In [1]:
count <- 0
while( count < 10){
    print(count)
    count <- count + 1
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

In [2]:
add2 <- function( x, y) {
    x +y
}

In [3]:
add2(3,5)

[1] 8

In [ ]:
above10 <- function(x) {
    use <- x > 10
    x[use]
}

In [6]:
aboven <- function(x, n=10){
    use <- x > n
    x[use]
    
}

In [7]:
x <- 1:20
aboven(x,12)

[1] 13 14 15 16 17 18 19 20

In [8]:
aboven(x)

 [1] 11 12 13 14 15 16 17 18 19 20

In [9]:
columnmean <- function(y){
    nc <- ncol(y)
    means <- numeric(nc)
    for(i in 1:nc){
        means[i] <- mean(y[, i])
    }
    means
}

In [10]:
columnmean(airquality)

[1]        NA        NA  9.957516 77.882353  6.993464 15.803922

In [11]:
columnmean <- function(y, removeNA =TRUE ){
    nc <- ncol(y)
    means <- numeric(nc)
    for(i in 1:nc){
        means[i] <- mean(y[, i], na.rm = removeNA)
    }
    means
}

In [12]:
columnmean(airquality)

[1]  42.129310 185.931507   9.957516  77.882353   6.993464  15.803922

In [14]:
f <- function(a, b){
    a^2
}

f(2)

[1] 4

In [15]:
f <- function(a, b){
    print(a)
    print(b)
}
f(45)

[1] 45

ERROR: Error in print(b): argument "b" is missing, with no default

In [17]:
make.power <- function(n){
    pow<- function(x){
        x^n
    }
    pow
}

In [18]:
x <- as.Date('1970-01-01')
x

[1] "1970-01-01"

In [19]:
unclass(x)

[1] 0

In [21]:
x <- Sys.time()

In [22]:
x

[1] "2019-12-23 11:39:52 -03"

In [23]:
p <- as.POSIXlt(x)

In [25]:
p

[1] "2019-12-23 11:39:52 -03"