In [1]:
from collections import Counter

In [2]:
l = [1,1,1,1,3,3,3,4,5,6,7,3,4,5,2,3,4,5,6,7,2,3,4]

In [4]:
Counter(l)

Counter({1: 4, 3: 6, 4: 4, 5: 3, 6: 2, 7: 2, 2: 2})

In [5]:
s = "askldmvlşsmaslşmefqlşasdasda"

In [6]:
Counter(s)

Counter({'a': 5,
         's': 5,
         'k': 1,
         'l': 4,
         'd': 3,
         'm': 3,
         'v': 1,
         'ş': 3,
         'e': 1,
         'f': 1,
         'q': 1})

In [7]:
s = "How many times does each word show up in this sentence word word shoe up up"

In [8]:
words = s.split()

In [9]:
Counter(words)

Counter({'How': 1,
         'many': 1,
         'times': 1,
         'does': 1,
         'each': 1,
         'word': 3,
         'show': 1,
         'up': 3,
         'in': 1,
         'this': 1,
         'sentence': 1,
         'shoe': 1})

In [10]:
c = Counter(words)

In [11]:
c.most_common(2)

[('word', 3), ('up', 3)]

In [12]:
sum(c.values())

16

In [1]:
from collections import defaultdict

In [3]:
d = {"k1":1}

In [4]:
d["k1"]

1

In [5]:
d["k2"]

KeyError: 'k2'

In [6]:
d = defaultdict(object)

In [7]:
d["one"]

In [9]:
for item in d:
    print(item)

one

In [10]:
d = defaultdict(lambda: 0)

In [11]:
d["one"]

0

In [13]:
d["two"] = 2

In [14]:
d["two"]

2

In [17]:
d = {}
d["a"] = 1
d["b"] = 2
d["c"] = 3
d["e"] = 4
d["f"] = 5

In [18]:
d

{'a': 1, 'b': 2, 'c': 3, 'e': 4, 'f': 5}

In [20]:
for k,v in d.items():
    print(k,v)

a 1
b 2
c 3
e 4
f 5

In [21]:
from collections import OrderedDict

In [22]:
d = OrderedDict()

In [23]:
d["a"] = 1
d["b"] = 2
d["c"] = 3
d["e"] = 4
d["f"] = 5

In [24]:
d

OrderedDict([('a', 1), ('b', 2), ('c', 3), ('e', 4), ('f', 5)])

In [25]:
d1 = {}
d1["a"] = 1
d1["b"] = 2

d2 = {}
d2["b"] = 2
d2["a"] = 1

In [27]:
print(d1 == d2)

True

In [29]:
d1 = OrderedDict()
d1["a"] = 1
d1["b"] = 2

d2 = OrderedDict()
d2["b"] = 2
d2["a"] = 1

In [30]:
print(d1 == d2)

False

In [31]:
t = (1,2,3)

In [32]:
t[0]

1

In [33]:
from collections import namedtuple

In [34]:
Dog = namedtuple("Dog","age breed name")

In [35]:
sam = Dog(age=2,breed="lab",name="smmy")

In [36]:
sam

Dog(age=2, breed='lab', name='smmy')

In [37]:
sam.age

2

In [38]:
sam[0]

2

In [39]:
Cat = namedtuple("cat","fur claws name")
c = Cat(fur="fuzzy",claws=False, name="kitty")

In [40]:
c.name

'kitty'

In [41]:
c

cat(fur='fuzzy', claws=False, name='kitty')

In [42]:
c.name

'kitty'

In [43]:
import datetime

In [46]:
t = datetime.time(5,25,1)

In [49]:
print(t)

05:25:01

In [50]:
datetime.time

datetime.time

In [51]:
datetime.time.min

datetime.time(0, 0)

In [52]:
print(datetime.time.min)

00:00:00

In [54]:
print(datetime.time.max)

23:59:59.999999

In [56]:
print(datetime.time.resolution)

0:00:00.000001

In [57]:
today = datetime.date.today()

In [58]:
print(today)

2019-05-02

In [59]:
today.timetuple()

time.struct_time(tm_year=2019, tm_mon=5, tm_mday=2, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=122, tm_isdst=-1)

In [60]:
today.day

2

In [61]:
print(datetime.date.min)

0001-01-01

In [62]:
print(datetime.date.resolution)

1 day, 0:00:00

In [63]:
d1 = datetime.date(2018,3,11)

In [64]:
print(d1)

2018-03-11

In [65]:
d2 = d1.replace(year=1990)

In [66]:
d2

datetime.date(1990, 3, 11)

In [67]:
d1-d2

datetime.timedelta(days=10227)

In [68]:
import pdb

In [69]:
x = [1,3,4]

In [70]:
y = 2

In [71]:
z = 3

In [73]:
result = y + z 
print(result)


result2 = y+x
print(result2)

5

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [ ]:
result = y + z 
print(result)

pdb.set_trace()

result2 = y+x
print(result2)

5
--Return--
> <ipython-input-74-2716ae41dadd>(4)<module>()->None
-> pdb.set_trace()
(Pdb) x
[1, 3, 4]
(Pdb) y
2
(Pdb) z
3
(Pdb) z+y
5
(Pdb) x+z
*** TypeError: can only concatenate list (not "int") to list