In [1]:
from keras.models import Sequential

Using TensorFlow backend.

In [2]:
# Classification template

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')

In [4]:
dataset.head(15)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0

In [5]:
X = dataset.iloc[:, 3:13 ].values

In [6]:
y = dataset.iloc[:, 13].values

In [7]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [8]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [9]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [10]:
X

array([[0.0000000e+00, 0.0000000e+00, 6.1900000e+02, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 1.0000000e+00, 6.0800000e+02, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [0.0000000e+00, 0.0000000e+00, 5.0200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [0.0000000e+00, 0.0000000e+00, 7.0900000e+02, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [1.0000000e+00, 0.0000000e+00, 7.7200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [0.0000000e+00, 0.0000000e+00, 7.9200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [11]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [12]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [15]:
# ANN
classifier = Sequential()

In [16]:
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [17]:
# Addind second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`

In [18]:
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [19]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [20]:
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
8000/8000 [==============================] - 7s 875us/step - loss: 0.5082 - acc: 0.7954
Epoch 2/100
8000/8000 [==============================] - 2s 264us/step - loss: 0.4262 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 2s 248us/step - loss: 0.4191 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 2s 247us/step - loss: 0.4113 - acc: 0.7972
Epoch 5/100
8000/8000 [==============================] - 2s 253us/step - loss: 0.4037 - acc: 0.8279
Epoch 6/100
8000/8000 [==============================] - 2s 255us/step - loss: 0.3963 - acc: 0.8294
Epoch 7/100
8000/8000 [==============================] - 2s 253us/step - loss: 0.3893 - acc: 0.8300
Epoch 8/100
8000/8000 [==============================] - 2s 256us/step - loss: 0.3838 - acc: 0.8351
Epoch 9/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.3792 - acc: 0.8429
Epoch 10/100
8000/8000 [==============================] - 2s 255us/step - loss: 0.3754 - acc: 0.8446
Epoch 11/100
8000/8000 [==============================] - 2s 255us/step - loss: 0.3723 - acc: 0.8476
Epoch 12/100
8000/8000 [==============================] - 2s 249us/step - loss: 0.3690 - acc: 0.8490
Epoch 13/100
8000/8000 [==============================] - 2s 254us/step - loss: 0.3666 - acc: 0.8521
Epoch 14/100
8000/8000 [==============================] - 2s 258us/step - loss: 0.3651 - acc: 0.8521
Epoch 15/100
8000/8000 [==============================] - 2s 253us/step - loss: 0.3626 - acc: 0.8521
Epoch 16/100
8000/8000 [==============================] - 2s 254us/step - loss: 0.3616 - acc: 0.8535
Epoch 17/100
8000/8000 [==============================] - 2s 252us/step - loss: 0.3599 - acc: 0.8531
Epoch 18/100
8000/8000 [==============================] - 2s 258us/step - loss: 0.3593 - acc: 0.8540
Epoch 19/100
8000/8000 [==============================] - 2s 264us/step - loss: 0.3580 - acc: 0.8525
Epoch 20/100
8000/8000 [==============================] - 2s 270us/step - loss: 0.3565 - acc: 0.8549
Epoch 21/100
8000/8000 [==============================] - 2s 257us/step - loss: 0.3558 - acc: 0.8552
Epoch 22/100
8000/8000 [==============================] - 2s 260us/step - loss: 0.3555 - acc: 0.8559
Epoch 23/100
8000/8000 [==============================] - 2s 258us/step - loss: 0.3549 - acc: 0.8555
Epoch 24/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.3543 - acc: 0.8570
Epoch 25/100
8000/8000 [==============================] - 2s 282us/step - loss: 0.3530 - acc: 0.8565
Epoch 26/100
8000/8000 [==============================] - 2s 265us/step - loss: 0.3528 - acc: 0.8570
Epoch 27/100
8000/8000 [==============================] - 2s 265us/step - loss: 0.3519 - acc: 0.8564
Epoch 28/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.3524 - acc: 0.8569
Epoch 29/100
8000/8000 [==============================] - 2s 260us/step - loss: 0.3522 - acc: 0.8572
Epoch 30/100
8000/8000 [==============================] - 2s 256us/step - loss: 0.3516 - acc: 0.8567
Epoch 31/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.3508 - acc: 0.8575
Epoch 32/100
8000/8000 [==============================] - 2s 260us/step - loss: 0.3510 - acc: 0.8595
Epoch 33/100
8000/8000 [==============================] - 2s 273us/step - loss: 0.3504 - acc: 0.8565
Epoch 34/100
8000/8000 [==============================] - 2s 265us/step - loss: 0.3498 - acc: 0.8596
Epoch 35/100
8000/8000 [==============================] - 2s 263us/step - loss: 0.3494 - acc: 0.8585
Epoch 36/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3498 - acc: 0.8599
Epoch 37/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3500 - acc: 0.8590
Epoch 38/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3493 - acc: 0.8569
Epoch 39/100
8000/8000 [==============================] - 2s 292us/step - loss: 0.3495 - acc: 0.8579
Epoch 40/100
8000/8000 [==============================] - 2s 285us/step - loss: 0.3490 - acc: 0.8582
Epoch 41/100
8000/8000 [==============================] - 2s 270us/step - loss: 0.3489 - acc: 0.8592
Epoch 42/100
8000/8000 [==============================] - 2s 269us/step - loss: 0.3485 - acc: 0.8596
Epoch 43/100
8000/8000 [==============================] - 2s 270us/step - loss: 0.3481 - acc: 0.8587
Epoch 44/100
8000/8000 [==============================] - 2s 260us/step - loss: 0.3492 - acc: 0.8597
Epoch 45/100
8000/8000 [==============================] - 2s 255us/step - loss: 0.3481 - acc: 0.8589
Epoch 46/100
8000/8000 [==============================] - 2s 258us/step - loss: 0.3487 - acc: 0.8590
Epoch 47/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3481 - acc: 0.8585
Epoch 48/100
8000/8000 [==============================] - 2s 267us/step - loss: 0.3478 - acc: 0.8592
Epoch 49/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.3474 - acc: 0.8582
Epoch 50/100
8000/8000 [==============================] - 2s 272us/step - loss: 0.3482 - acc: 0.8582
Epoch 51/100
8000/8000 [==============================] - 2s 268us/step - loss: 0.3481 - acc: 0.8580
Epoch 52/100
8000/8000 [==============================] - 2s 267us/step - loss: 0.3467 - acc: 0.8580
Epoch 53/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3477 - acc: 0.8599
Epoch 54/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.3471 - acc: 0.8597
Epoch 55/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.3468 - acc: 0.8589
Epoch 56/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.3471 - acc: 0.8589
Epoch 57/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.3479 - acc: 0.8591
Epoch 58/100
8000/8000 [==============================] - 2s 265us/step - loss: 0.3473 - acc: 0.8591
Epoch 59/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.3472 - acc: 0.8586
Epoch 60/100
8000/8000 [==============================] - 2s 265us/step - loss: 0.3474 - acc: 0.8582
Epoch 61/100
8000/8000 [==============================] - 2s 267us/step - loss: 0.3469 - acc: 0.8559
Epoch 62/100
8000/8000 [==============================] - 2s 264us/step - loss: 0.3460 - acc: 0.8582
Epoch 63/100
8000/8000 [==============================] - 2s 260us/step - loss: 0.3470 - acc: 0.8592
Epoch 64/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3475 - acc: 0.8594
Epoch 65/100
8000/8000 [==============================] - 2s 263us/step - loss: 0.3472 - acc: 0.8589
Epoch 66/100
8000/8000 [==============================] - 2s 260us/step - loss: 0.3459 - acc: 0.8575
Epoch 67/100
8000/8000 [==============================] - 2s 264us/step - loss: 0.3469 - acc: 0.8597
Epoch 68/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.3467 - acc: 0.8595
Epoch 69/100
8000/8000 [==============================] - 2s 260us/step - loss: 0.3459 - acc: 0.8584
Epoch 70/100
8000/8000 [==============================] - 2s 242us/step - loss: 0.3458 - acc: 0.8597
Epoch 71/100
8000/8000 [==============================] - 2s 280us/step - loss: 0.3461 - acc: 0.8599
Epoch 72/100
8000/8000 [==============================] - 2s 267us/step - loss: 0.3466 - acc: 0.8571
Epoch 73/100
8000/8000 [==============================] - 2s 270us/step - loss: 0.3469 - acc: 0.8562
Epoch 74/100
8000/8000 [==============================] - 2s 264us/step - loss: 0.3447 - acc: 0.8609
Epoch 75/100
8000/8000 [==============================] - 2s 270us/step - loss: 0.3461 - acc: 0.8580
Epoch 76/100
8000/8000 [==============================] - 2s 284us/step - loss: 0.3462 - acc: 0.8585
Epoch 77/100
8000/8000 [==============================] - 2s 275us/step - loss: 0.3464 - acc: 0.8587
Epoch 78/100
8000/8000 [==============================] - 2s 278us/step - loss: 0.3453 - acc: 0.8592
Epoch 79/100

8000/8000 [==============================] - 2s 249us/step - loss: 0.3459 - acc: 0.8589
Epoch 80/100
8000/8000 [==============================] - 2s 242us/step - loss: 0.3463 - acc: 0.8577
Epoch 81/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3445 - acc: 0.8594
Epoch 82/100
8000/8000 [==============================] - 2s 266us/step - loss: 0.3458 - acc: 0.8580
Epoch 83/100
8000/8000 [==============================] - 2s 239us/step - loss: 0.3461 - acc: 0.8582
Epoch 84/100
8000/8000 [==============================] - 2s 240us/step - loss: 0.3449 - acc: 0.8601
Epoch 85/100
8000/8000 [==============================] - 2s 234us/step - loss: 0.3454 - acc: 0.8585
Epoch 86/100
8000/8000 [==============================] - 2s 242us/step - loss: 0.3457 - acc: 0.8595
Epoch 87/100
8000/8000 [==============================] - 2s 252us/step - loss: 0.3454 - acc: 0.8579
Epoch 88/100
8000/8000 [==============================] - 2s 251us/step - loss: 0.3452 - acc: 0.8580
Epoch 89/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.3460 - acc: 0.8592
Epoch 90/100
8000/8000 [==============================] - 2s 254us/step - loss: 0.3455 - acc: 0.8602
Epoch 91/100
8000/8000 [==============================] - 2s 256us/step - loss: 0.3459 - acc: 0.8607
Epoch 92/100
8000/8000 [==============================] - 2s 256us/step - loss: 0.3458 - acc: 0.8601
Epoch 93/100
8000/8000 [==============================] - 2s 254us/step - loss: 0.3454 - acc: 0.8585
Epoch 94/100
8000/8000 [==============================] - 2s 254us/step - loss: 0.3457 - acc: 0.8587
Epoch 95/100
8000/8000 [==============================] - 2s 253us/step - loss: 0.3457 - acc: 0.8601
Epoch 96/100
8000/8000 [==============================] - 2s 251us/step - loss: 0.3443 - acc: 0.8590
Epoch 97/100
8000/8000 [==============================] - 2s 255us/step - loss: 0.3455 - acc: 0.8591
Epoch 98/100
8000/8000 [==============================] - 2s 256us/step - loss: 0.3453 - acc: 0.8590
Epoch 99/100
8000/8000 [==============================] - 2s 251us/step - loss: 0.3451 - acc: 0.8572
Epoch 100/100
8000/8000 [==============================] - 2s 256us/step - loss: 0.3453 - acc: 0.8611

In [22]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred >0.5)

In [23]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [24]:
cm

array([[1487,  108],
       [ 185,  220]], dtype=int64)

In [25]:
(1487+220)/(2000)

0.8535