In [1]:
t = (1,2,3)

In [2]:
t

(1, 2, 3)

In [3]:
type(t)

tuple

In [4]:
mylist = [1,2,3]

In [5]:
type(mylist)

list

In [6]:
len(t)

3

In [7]:
t

(1, 2, 3)

In [8]:
t=("one",2)

In [9]:
t

('one', 2)

In [10]:
t[0]

'one'

In [12]:
t[-1]

2

In [13]:
t = ("a","a","b")

In [14]:
t.count("a")

2

In [15]:
t.index("a")

0

In [16]:
t.index("b")

2

In [17]:
t

('a', 'a', 'b')

In [18]:
mylist

[1, 2, 3]

In [19]:
mylist[0]="new"

In [20]:
mylist

['new', 2, 3]

In [22]:
t

('a', 'a', 'b')

In [23]:
myset = set()

In [24]:
myset

set()

In [25]:
myset.add(1)

In [26]:
myset

{1}

In [27]:
myset.add(2)

In [28]:
myset

{1, 2}

In [29]:
myset.add(2)

In [30]:
myset

{1, 2}

In [31]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3]

In [32]:
mylist

[1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3]

In [33]:
set(mylist)

{1, 2, 3}

In [34]:
True

True

In [35]:
False

False

In [36]:
type(False)

bool

In [37]:
1 > 2

False

In [38]:
1 == 1

True

In [39]:
b = None

In [40]:
b

In [41]:
type(b)

NoneType

In [42]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [43]:
myfile = open("myfile.txt")

In [44]:
pwd

'C:\\Users\\eiree\\Desktop\\python-bootcamp'

In [45]:
ls

 Volume in drive C has no label.
 Volume Serial Number is A224-DA03

 Directory of C:\Users\eiree\Desktop\python-bootcamp

08.04.2019  22:53    <DIR>          .
08.04.2019  22:53    <DIR>          ..
08.04.2019  22:39    <DIR>          .ipynb_checkpoints
08.04.2019  18:51            17.420 first_lesson.ipynb
08.04.2019  22:52                76 myfile.txt
08.04.2019  17:55             1.039 MyFirstNotebook.ipynb
08.04.2019  18:50            17.420 Numbers.ipynb
08.04.2019  20:44            20.816 second_lesson.ipynb
08.04.2019  21:01             8.117 ThirdLesson.ipynb
08.04.2019  21:02                36 ToGo.txt
08.04.2019  17:50                21 uno.py
08.04.2019  22:53            10.844 Untitled.ipynb
               9 File(s)         75.789 bytes
               3 Dir(s)  29.814.603.776 bytes free

In [46]:
myfile = open("myfile.txt")

In [47]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [48]:
myfile.read()

''

In [49]:
myfile.seek(0)

0

In [50]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [51]:
myfile.seek(0)

0

In [52]:
contents = myfile.read()

In [53]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [54]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [55]:
myfile.readlines()

[]

In [56]:
myfile.seek(0)

0

In [57]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [58]:
myfile.close()

In [59]:
myfile = open("myfile.txt")

In [60]:
with open("myfile.txt") as my_new_file:
    contents = my_new_file.read()

In [61]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [62]:
with open("myfile.txt",mode="r") as myfile:
    contents = myfile.read()

In [63]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ONTHIRD

Writing my_new_file.txt

In [64]:
with open("my_new_file.txt", mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ONTHIRD

In [65]:
with open("my_new_file.txt", mode="a") as f:
    f.write("Four On Fourth")

In [66]:
with open("my_new_file.txt", mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ONTHIRD
Four On Fourth

In [67]:
with open("asdasda.txt", mode="w") as f:
    f.write("i created this file")

In [68]:
with open("asdasda.txt", mode="r") as f:
    print(f.read())

i created this file

In [69]:
8 ** (1/3)

2.0

In [70]:
1 < 2

True

In [71]:
2 < 3

True

In [72]:
1 < 2 < 3

True

In [73]:
1<2>3

False

In [74]:
1<2 and 2<3

True

In [75]:
"h" == "h" and 2==2

True

In [76]:
("h" == "h") and (2==2)

True

In [77]:
100 == 1 or 2==2

True

In [79]:
1 == 1

True

In [80]:
not(1==1)

False

In [82]:
not(400>500)

True

In [1]:
if True:
    print("Its ture")

Its ture

In [4]:
hungry = False

if hungry:
    print("Feed me")
else:
    print("Dont feed me")

Dont feed me

In [8]:
loc = "Store"

if loc == "Auto Shop":
    print("cars are cool")
elif loc == "Bank":
    print("maniiii")
elif loc == "Store":
    print("welcome to the store")
else:
    print("i dont know much")

welcome to the store

In [12]:
name = "cc"

if name =="frankie":
    print("hello frankie")
elif name == "sammy":
    print("hello sammy")
else:
    print("what is ur name?")

what is ur name?

In [14]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print("hello")

hello
hello
hello

In [15]:
 mylist = [1,2,3,4,5,6,7,8,9,10]

In [17]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [19]:
for num in mylist:
    if num % 2==0:
        print(num)
    else:
        print(f"Odd Number: {num}")

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [21]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [22]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [23]:
mystring = " Hello world "

for letter in mystring:
    print(letter)

H
e
l
l
o

w
o
r
l
d

In [24]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [25]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [26]:
len(mylist)

4

In [28]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [31]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [32]:
for a,b in mylist:
    print(a)

1
3
5
7

In [33]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [35]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [36]:
for a,b,c in mylist:
    print(b)

2
6
9

In [37]:
d = {"k1":1,"k2":2,"k3":3}

for item in d:
    print(item)

k1
k2
k3

In [38]:
d = {"k1":1,"k2":2,"k3":3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [39]:
d = {"k1":1,"k2":2,"k3":3}

for key,value in d.items():
    print(value)

1
2
3

In [40]:
d = {"k1":1,"k2":2,"k3":3}

for value in d.values():
    print(value)

1
2
3

In [41]:
x = 0 

while x < 5:
    print(f"The current value of x is {x}")
    x = x +1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [42]:
x = 0 

while x < 5:
    print(f"The current value of x is {x}")
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [43]:
x = 0 

while x < 5:
    print(f"The current value of x is {x}")
    x += 1
else:
    print("x is nıt less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is nıt less than 5

In [44]:
x = 50 

while x < 5:
    print(f"The current value of x is {x}")
    x += 1
else:
    print("x is nıt less than 5")

x is nıt less than 5

In [46]:
x = [1,2,3,]

for item in x:
    pass
print("end of my script")

end of my script

In [47]:
mystring = "sammy"

In [49]:
for letter in mystring:
    if letter == "a":
        continue
    print(letter)

s
m
m
y

In [50]:
for letter in mystring:
    if letter == "a":
        break
    print(letter)

s

In [54]:
x = 0

while x < 5:
    
    if x == 2:
        break
    
    print(x)
    x +=1

0
1

In [55]:
mylist =[1,2,3]

In [64]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [65]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [66]:
index_count = 0

for letter in "abcde":
    print("at index {} the letter is {}".format(index_count,letter))
    index_count +=1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [68]:
index_count = 0
word = "abcde"
for letter in word:
    print(word[index_count])
    index_count +=1

a
b
c
d
e

In [70]:
word = "abcde"
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [71]:
mylist1 = [1,2,3]
mylist2 = ["a","b","c"]

In [73]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [77]:
mylist1 = [1,2,3,None]
mylist2 = ["a","b","c","d"]

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(None, 'd')

In [78]:
"x" in ["x","y","z"]

True

In [79]:
"my" in {"my":23}

True

In [80]:
d = {"key":21}

21 in d

False

In [82]:
21 in d.values()

True

In [84]:
21 in d.keys()

False

In [86]:
mylist = [44,12,65,76,15,36,457,5]

In [88]:
min(mylist)

5

In [89]:
max(mylist)

457

In [90]:
from random import shuffle

In [91]:
mylist = [1,2,3,4,5,6,7,8]

In [92]:
shuffle(mylist)

In [93]:
mylist

[2, 7, 1, 5, 3, 6, 8, 4]

In [94]:
shuffle(mylist)

In [95]:
mylist

[4, 8, 5, 3, 1, 6, 7, 2]

In [96]:
from random import randint

In [97]:
randint(0,100)

12

In [98]:
randint(0,100)

46

In [99]:
input(" Enter a number here ")

 Enter a number here 50

'50'

In [100]:
input(" Enter a number here ")

 Enter a number here sex

'sex'

In [101]:
result = input(" enter smt here ")

 enter smt here zzzz

In [102]:
result

'zzzz'